name: CI/CD
 
on:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    outputs:
      jar-path: ${{ steps.set-jar-path.outputs.jar-path}}

    steps: 
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with: 
          distribution: temurin
          java-version: 17

      - name: Build with Maven
        run: mvn clean package --no-transfer-progress

      - name: Run tests
        run: mvn test

      - name: Save JAR path
        id: set-jar-path
        run: echo "::set-output name=jar-path::target/todoapp-0.0.1-SNAPSHOT.jar"

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with: 
          name: todoapp-jar
          path: target/todoapp-0.0.1-SNAPSHOT.jar

  build-and-push-docker:
    needs: build-and-test
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Download JAR artifact
        uses: actions/download-artifact@v4
        with: 
          name: todoapp-jar
          path: target
          
      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with: 
          username: ${{secrets.DOCKER_USER}}
          password: ${{secrets.DOCKER_PASSWORD}}

      - name: Build Docker image
        run: docker build -t ${{secrets.DOCKER_USER}}/todoapp:latest .

      - name: Push Docker image
        run: docker push ${{secrets.DOCKER_USER}}/todoapp:latest

  deploy: 
    needs: build-and-push-docker
    runs-on: ubuntu-latest

    steps: 
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: 158.255.0.33
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: 22
          script: |
            docker pull ${{secrets.DOCKER_USER}}/todoapp:latest
            docker stop todoapp || true
            docker rm todoapp || true
            docker run -d --name todoapp -p 8080:8080 ${{secrets.DOCKER_USER}}/todoapp:latest

            

            
            
    
        
        

            
  
    
        
        
      
          
      
      
    
